@-ms-viewport { width: device-width; }

/* Activation par défaut du mode `border-box` */
* {
    @include _border-box();
    &:after, &:before {
        @include _border-box();
    }
}

// Améliorations génériques

/* Un peu d'amélioration de rendu */
img { -ms-interpolation-mode: bicubic; }

// Enrobage global du site

html,
.site {
    height: 100%;
}

.page {
    display: table;
    height: 100%; width: 100%;
    margin: 0; padding: 0;
    overflow: hidden;
    table-layout: fixed;
    vertical-align: top;
}

.wrapper {
    display: table-row;

    .headlines,
    .external-links {
        display: table-cell;
    }
}

.headlines {
    font-size: 1.5em;
    height: 100%;
    padding-top: 3em;
    vertical-align: top;

    .title,
    .baseline {
        padding-left: 10%;
    }

    @include _origin();
    @include _rotate();
}

.external-links {
    text-align: right;
    vertical-align: bottom;
}

.social-networks {
    display: inline-block;
    list-style-type: none;
    margin: 1em 2em;
    padding: 0;

    > * {
        display: inline-block;
    }

    li + li {
        margin-left: .5em;
    }

    img {
        width: $fontSize * 1.5;
        height: 100%;
    }
}


// Liens

a {
  color: $light;
  cursor: pointer;
}

a:focus,
a:hover,
a:active {
  color: $dark;
}

a:link img,
a:visited img,
img {
  border-style: none;
}
